<div class="pure-u-1">
	<h2>Register an Account</h2>
	<form class="pure-form pure-form-stacked">
		<fieldset>
			<label for="email">Your E-mail Address</label>
			<input id="email" type="email" required>
			This will be used for account validation and recovery.
			<label for="password">Create a Password</label>
			<input id="password" type="password" required>
			<label for="confirm">Confirm your Password</label>
			<input id="confirm" type="password" required>
			<label for="username">Choose a Username</label>
			<input id="username" type="text" required>
			This name will identify you to the general public.
			<label for="remember" class="pure-checkbox">
				<input id="remember" type="checkbox" required> I have read and agree to the Acceptable Use Policy
			</label>
		</fieldset>
		<button type="submit" class="pure-button pure-button-primary">Next Step</button>
	</form>
</div>
