<div class="pure-u-1">
	<h2>User Directory</h2>
	<table class="pure-table">
		<thead>
			<tr>
				<th>Country</th>
				<th>User</th>
				<th>Last Seen</th>
			</tr>
		</thead>
		<tbody>
			{{#users}}
			<tr>
				<td>{{ country }}</td>
				<td>{{ username }}</td>
				<td>{{ seen }}</td>
			</tr>
			{{/users}}
		</tbody>
	</table>
</div>
